*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/gradlew
/gradlew.bat
/common/build/intermediates/aar_metadata/debug/aar-metadata.properties
/features/favourite/build/intermediates/aar_metadata/debug/aar-metadata.properties
/features/home/build/intermediates/aar_metadata/debug/aar-metadata.properties
/features/search/build/intermediates/aar_metadata/debug/aar-metadata.properties
/features/settings/build/intermediates/aar_metadata/debug/aar-metadata.properties
/common/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/common/build/intermediates/merged_manifest/debug/AndroidManifest.xml
/features/favourite/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/features/favourite/build/intermediates/merged_manifest/debug/AndroidManifest.xml
/features/home/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/features/home/build/intermediates/merged_manifest/debug/AndroidManifest.xml
/features/search/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/features/search/build/intermediates/merged_manifest/debug/AndroidManifest.xml
/features/settings/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/features/settings/build/intermediates/merged_manifest/debug/AndroidManifest.xml
/buildSrc/build/classes/kotlin/main/AndroidX.class
/common/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/features/home/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/features/search/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/features/search/build/intermediates/packaged_res/debug/drawable/author.jpg
/features/home/build/intermediates/packaged_res/debug/drawable/author_placeholder.png
/features/search/build/intermediates/packaged_res/debug/drawable/author_placeholder.png
/common/build/intermediates/packaged_res/debug/font/avenir.ttf
/features/search/build/intermediates/packaged_res/debug/font/avenir.ttf
/common/build/intermediates/incremental/dataBindingGenBaseClassesDebug/base_builder_log.json
/features/favourite/build/intermediates/incremental/dataBindingGenBaseClassesDebug/base_builder_log.json
/features/home/build/intermediates/incremental/dataBindingGenBaseClassesDebug/base_builder_log.json
/features/search/build/intermediates/incremental/dataBindingGenBaseClassesDebug/base_builder_log.json
/features/settings/build/intermediates/incremental/dataBindingGenBaseClassesDebug/base_builder_log.json
/buildSrc/build/classes/kotlin/main/Build.class
/buildSrc/build/kotlin/compileKotlin/local-state/build-history.bin
/common/build/kotlin/compileDebugKotlin/local-state/build-history.bin
/features/search/build/intermediates/javac/debug/classes/com/app/search/BuildConfig.class
/buildSrc/build/libs/buildSrc.jar
/buildSrc/build/classes/kotlin/main/META-INF/buildSrc.kotlin_module
/buildSrc/build/kotlin/buildSrcjar-classes.txt
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/common/build/intermediates/data_binding_base_class_log_artifact/debug/out/com.app.common-binding_classes.json
/features/favourite/build/intermediates/data_binding_base_class_log_artifact/debug/out/com.app.favourite-binding_classes.json
/features/home/build/intermediates/data_binding_base_class_log_artifact/debug/out/com.app.home-binding_classes.json
/features/search/build/intermediates/data_binding_base_class_log_artifact/debug/out/com.app.search-binding_classes.json
/features/settings/build/intermediates/data_binding_base_class_log_artifact/debug/out/com.app.settings-binding_classes.json
/common/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
/features/favourite/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
/features/home/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
/features/search/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
/features/settings/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
/buildSrc/build/classes/kotlin/main/Compose.class
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/constants.tab
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/constants.tab.keystream
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/constants.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/constants.tab.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/constants.tab.values.at
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/constants.tab_i
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/constants.tab_i.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/counters.tab
/buildSrc/build/classes/kotlin/main/DaggerHilt.class
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/common/build/kotlin/compileDebugKotlin/cacheable/dirty-sources.txt
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.values.at
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i.len
/buildSrc/build/classes/kotlin/main/Google.class
/.idea/gradle.xml
/features/search/build/intermediates/packaged_res/debug/drawable/ic_checked.xml
/features/search/build/intermediates/packaged_res/debug/drawable/ic_search.png
/features/search/build/intermediates/packaged_res/debug/drawable/ic_tune.png
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.values.at
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/buildSrc/build/classes/kotlin/main/Kotlin.class
/.idea/kotlinc.xml
/buildSrc/build/kotlin/compileKotlin/cacheable/last-build.bin
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.at
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab_i
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab_i.len
/buildSrc/build/tmp/jar/MANIFEST.MF
/common/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/features/favourite/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/features/home/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/features/search/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/features/settings/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/common/build/outputs/logs/manifest-merger-debug-report.txt
/features/favourite/build/outputs/logs/manifest-merger-debug-report.txt
/features/home/build/outputs/logs/manifest-merger-debug-report.txt
/features/settings/build/outputs/logs/manifest-merger-debug-report.txt
/common/build/intermediates/incremental/debug/packageDebugResources/merger.xml
/features/favourite/build/intermediates/incremental/debug/packageDebugResources/merger.xml
/features/home/build/intermediates/incremental/debug/packageDebugResources/merger.xml
/features/search/build/intermediates/incremental/debug/packageDebugResources/merger.xml
/features/settings/build/intermediates/incremental/debug/packageDebugResources/merger.xml
/.idea/migrations.xml
/.idea/misc.xml
/buildSrc/build/classes/kotlin/main/Modules.class
/common/build/intermediates/navigation_json/debug/navigation.json
/features/favourite/build/intermediates/navigation_json/debug/navigation.json
/features/home/build/intermediates/navigation_json/debug/navigation.json
/features/search/build/intermediates/navigation_json/debug/navigation.json
/features/settings/build/intermediates/navigation_json/debug/navigation.json
/features/home/build/intermediates/packaged_res/debug/drawable/news_placeholder.png
/features/search/build/intermediates/packaged_res/debug/drawable/news_placeholder.png
/common/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
/features/favourite/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
/features/home/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
/features/search/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
/features/search/build/intermediates/packaged_manifests/debug/output-metadata.json
/features/settings/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
/common/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/features/favourite/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/features/home/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/features/search/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/features/settings/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/.idea/inspectionProfiles/Project_Default.xml
/buildSrc/build/classes/kotlin/main/ProjectConfig.class
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.at
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i.len
/common/build/intermediates/compile_r_class_jar/debug/R.jar
/features/favourite/build/intermediates/compile_r_class_jar/debug/R.jar
/features/home/build/intermediates/compile_r_class_jar/debug/R.jar
/features/search/build/intermediates/compile_r_class_jar/debug/R.jar
/features/settings/build/intermediates/compile_r_class_jar/debug/R.jar
/common/build/intermediates/compile_symbol_list/debug/R.txt
/features/favourite/build/intermediates/compile_symbol_list/debug/R.txt
/features/home/build/intermediates/compile_symbol_list/debug/R.txt
/features/search/build/intermediates/compile_symbol_list/debug/R.txt
/features/settings/build/intermediates/compile_symbol_list/debug/R.txt
/common/build/intermediates/local_only_symbol_list/debug/R-def.txt
/features/favourite/build/intermediates/local_only_symbol_list/debug/R-def.txt
/features/home/build/intermediates/local_only_symbol_list/debug/R-def.txt
/features/search/build/intermediates/local_only_symbol_list/debug/R-def.txt
/features/settings/build/intermediates/local_only_symbol_list/debug/R-def.txt
/buildSrc/build/classes/kotlin/main/Retrofit.class
/buildSrc/build/classes/kotlin/main/Room.class
/.idea/runConfigurations.xml
/buildSrc/build/kotlin/compileKotlin/classpath-snapshot/shrunk-classpath-snapshot.bin
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.len
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i
/buildSrc/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i.len
/buildSrc/build/classes/kotlin/main/Testing.class
/features/home/build/intermediates/incremental/debug/packageDebugResources/merged.dir/values/values.xml
/features/home/build/intermediates/packaged_res/debug/values/values.xml
/features/search/build/intermediates/incremental/debug/packageDebugResources/merged.dir/values/values.xml
/features/search/build/intermediates/packaged_res/debug/values/values.xml
